@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&family=Ubuntu:wght@300;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-right: 50px;
  transition: 0.2s;
  text-shadow: black 0 0 2px;
}

.nav-item:hover {
  color: #fdcd39;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: underline;
}

.a-button {
  transition: 0.2s;
}

.a-button:hover {
  transition: 0.2s;
  background-color: #fdcd39;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #fdcd39;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fdcd39;
}

.modal-style {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding: 24px;
  border: 4px solid #fdcd39;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: 20;
  border-radius: 40px;
}

.button-back {
  padding: 24px;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  background-color: #fdcd39;
  color: black;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid transparent;
  font-weight: bold;
}

.button-back:hover {
  transition: 0.2s;
  background-color: transparent;
  border: 2px solid #fdcd39;
  color: white;
}
